
.mybox{
    color: #f2f8ff;
    height: 3rem;
}

.msc-wraper span{
    color: red;
    padding-left:10px;
    cursor: pointer;
    float: right;
}


.mysecondcomp{
    width: 250px;
}
.mysecondcomp .title{
    padding-bottom:10px;
}
.mysecondcomp .msc-wraper {
    overflow: hidden;
}


.mysecondcomp .item{
    float: left;
}
.model{
    width:300px;
    height:100px;
    opacity: 0;
    position: absolute;
    left:50%;
    top:50%;
    margin-top:-350px;
    margin-left:-150px;
    border:solid 1px #e0dbc2;
    background: #ffead8;
    transition: all 0.3s ease;
    -webkit-transition: all 1s ease;
}

.model.trans{

    opacity: 1;

}

.model .model_content{
    display: flex;
    display: -webkit-flex;

    align-items: center;
    -webkit-align-items: center;

    justify-content: center;
    -webkit-justify-content: center;


}
.model .model_content .m_input{
    height: 30%;
    width: 50%;
    border-radius: 5px;
    margin-top: 10px;
}

button.btn {
    position: absolute;
    bottom: 15px;
    width: 80px;
    height: 30px;
    border-radius: 6px;
    color: white;
    background: red;
    border: none;
    left:60px;
}
button.btns {
    position: absolute;
    bottom: 15px;
    width: 80px;
    height: 30px;
    border-radius: 6px;
    color: white;
    background: #889cff;
    border: none;
    right: 60px;
}